  .div {
    background:white;
    padding: 30px;
    text-align: center;
  }
  
  .border {
    text-align: center;
    border-style:solid;
    border-width: thin;
    height:180px;
    border-color:#D3D3D3;
  }

  .item {
    background:white;
  }
  .item:hover {
    background-color:#dddbdb;
  }
  .item:focus {
    background-color: #00ff00;
  }
/*   .monitor{
    position: relative;
    background:white;
    min-height: calc(~"100vh - 0.7rem - 0.53rem - 0.83rem");
    //margin-top: 0.12rem;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .gatewayList{
    position: absolute;
    left: 0.09rem;
    top: 0.44rem;
    width: 3.92rem;
    .list{
      margin-top: 0.12rem;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
  } */

